
@media (max-width: 1200px) {
    .container {
        max-width: 960px
    }
    .menu {
        &__logo {
            margin-right: 18px;
        }
        &__item {
            padding-right: 6px;
            a {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px
    }
    .menu {
        &__logo {
            display: none;
        }
        &__item {
            padding-right: 7px;
            a {
                font-size: 12px;
            }
        }
        &__contacts {
            font-size: 12px;
            a {
                font-size: 12px;
            }
        }
        .btn {
            width: 150px;
        }
    }
    .promo {
        &__title {
            font-size: 55px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__divider {
            &::before, &::after {
                width: 290px;
            }
        }
        &__grid {
            grid-template-columns: repeat(2,minmax(auto,262px));
            &-item {
                &__decsr {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px
    }
    .menu {
        display: none;
    }
    .hamburger {
        display: block;
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(2px) rotate(45deg);
                }
            }
        }
		&-menu {
            &_active {
                left: 0;
            }
        }	
    }
    .promo {
        &__descr {
            margin-top: 30px;
            font-size: 21px;
        }
        &__title {
            font-size: 45px;
            line-height: 65px;
        }
        &__subtitle {
            font-size: 25px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__grid {
            grid-template-columns: repeat(1,minmax(auto,262px));
            justify-content: center;
            row-gap: 20px;
        }
    }
}