.promo {
    background: url('../img/bg_1.png') center center / cover no-repeat;
    min-height: 680px;
    padding: 23px 0 82px 0;
    &__descr {
        font-size: 24px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        margin-top: 10px;
    }
    &__title {
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        color: $main-color;
        text-transform: uppercase;
        text-align: center;
        margin-top: 26px;
    }
    &__subtitle {
        font-size: 42px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 42px;
        margin-top: 9px;
        font-weight: 400;
    }
}