.title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    color: #2e2e2e;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
}