.title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    &_white {
        color: #ffffff;
        font-size: 26px;
        margin-top: 20px;
    }
}

.subtitle {
    color: #2e2e2e;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
    &_white {
        color: #ffffff;
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
    }
}